html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #ddd8d8;
}


.headerContainer{ 
    display: flex;
    justify-content: center;
}

.headerContainer h1{
    font-size: 50px;
}



.contaier{
    display: flex;
    justify-content: center;
    height: 100%;
    

}

#gridContainer{
    display: flex;
    flex-wrap: wrap;
    width: 880px;
    height: 880px;
    border: 5px solid black;
    margin-left: 150px;
    background-color: white;

}

.square{
    transition: background-color 0.2s ease;
    box-sizing: border-box;
    
}


.buttonsContainer{
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    height: 100px;
    width: 887px;
    align-items: end;
    
}

.buttons button{
    width: 200px;
    height: 50px;
    font-size: 25px;
    /* border-bottom: 0; */
    border-radius: 12px;
    margin: 2px;
    border: 3px solid black;
}

.buttons button:hover{
    border: 5px solid black;
    /* border-bottom: 2px solid black; */
    font-size: 27px;
}

div .sliderContainer p{
    margin: 0;
    font-size: 22px;
}


.colorsContainer{
    display: flex;
    flex-wrap: wrap;
    width: 145px;
    align-self: flex-start;

}

.colorsContainer .colorButton{
    display: flex;
    width: 70px;
    height: 70px;
    margin-left: 1px;
    border: 2px solid black;
}

.colorsContainer .colorButton:hover{
    border: 5px solid black;
    
}


#red {
    background-color: red;
    
}

#blue {
    background-color: blue;
}

#green {
    background-color: green;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#purple {
    background-color: purple;
}


#pink{
    background-color: pink;
}


#white{
    background-color: white;
}


#black {
    background-color: black;
}



#random {
    background: linear-gradient(to bottom right, violet, indigo, blue, green, yellow, orange, red);
}