#gridContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 640px;
}

.square{
    background-color: red;
    width: 40px;
    height: 40px;
}